{% extends 'base.html.twig'%}

{% block body %}
    <h1>Bienvenue</h1>

    <p>Dolor voluptate mollit dolor veniam anim aliqua Lorem laborum. Irure adipisicing ex duis duis. Sunt commodo consequat enim quis non velit mollit adipisicing duis consectetur enim non do. Esse nulla sint commodo nostrud consectetur reprehenderit elit amet.</p>

    <p>Reprehenderit ipsum ut Lorem id. Incididunt dolor pariatur fugiat aute proident mollit. Ea ipsum eu laboris consectetur adipisicing amet id qui proident excepteur reprehenderit eiusmod sint aliquip. Exercitation occaecat enim est est est Lorem qui id magna sint proident ipsum ullamco. Tempor fugiat consequat voluptate duis laboris elit cillum ea dolor.</p>
{% endblock %}